@model PoorMansCQRS.Web.Models.ChangeDeliveryDate

@using (Html.BeginForm("ChangeDeliveryDate", "Project", FormMethod.Post, new { id = "changeDateForm" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Change Delivery Date</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.DeliveryDate)
        </div>
        <div class="editor-field">
            @Html.Partial("DateTime", Model.DeliveryDate)
            @Html.ValidationMessageFor(model => model.DeliveryDate)
        </div>
    </fieldset>
}